{{ $choices := list "private" "work" -}}
{{ $mode := promptChoiceOnce . "private" "What is your data mode" $choices -}}
{{ $email := promptStringOnce . "email" "What is your email address" "songkg7@gmail.com" -}}
{{ $name := promptStringOnce . "name" "What is your name or nickname" "haril" -}}

[gpg]
    args = ["--quiet"]

[git]
    autocommit = true

[edit]
    command = "lvim"

[merge]
    command = "lvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[diff]
    pager = "delta --side-by-side"
#   command = "delta"
#   pager = "delta"
#    args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[data]
    mode = "{{ $mode }}"
    email = "{{ $email }}"
    name = "{{ $name }}"

