{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}
fpath+=("/opt/homebrew/bin/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

{{ else if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) -}}
fpath+=("/usr/local/share/zsh/site-functions")
eval "$(/usr/local/bin/brew shellenv)"

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{ end -}}

# Added by Toolbox App
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"

{{ if eq .chezmoi.os "linux" - }}
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
export MANPATH="/home/linuxbrew/.linuxbrew/share/man:$MANPATH"
export INFOPATH="/home/linuxbrew/.linuxbrew/share/info:$INFOPATH"
{{ end -}}

eval "$(mise activate zsh --shims)"
