{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

WORKING_TREE={{- .chezmoi.workingTree }}
CASKS=`cat $WORKING_TREE/packages/cask`

# cask hash: {{ include "packages/cask" | sha256sum }}

brew update && brew upgrade --greedy

printf '\n\nInstalling cask apps...\n'
brew list --cask ${CASKS[@]} || brew install --cask ${CASKS[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup
{{- end -}}
