{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# cask hash: {{ .packages.darwin.casks | join "" | sha256sum }}

brew update && brew upgrade {{ .packages.darwin.casks | join " " }}

printf '\n\nInstalling cask apps...\n'
brew list --cask {{ .packages.darwin.casks | join " " }} || brew install --cask {{ .packages.darwin.casks | join " " }}

printf '\n\nRemoving out of date packages...\n'
brew cleanup
{{- end -}}
