{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# If Oh-my-zsh is not installed on the system, it will be installed here
if [ ! -d $HOME/.oh-my-zsh ]; then
  printf '\n\n\e[33mOh-my-zsh not found. \e[0mInstalling Oh-my-zsh...'
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  printf '\n\n\e[0mOh-my-zsh found. Continuing...'
fi

# Update homebrew packages and apps
printf '\nInitiating Homebrew update...\n'
brew tap homebrew/cask-fonts
brew tap daipeihust/tap
brew tap koekeishiya/formulae
brew update && brew upgrade --greedy

printf '\nInstalling packages...\n'
brew list --formula {{ .packages.darwin.formulae | join " " }} || brew install {{ .packages.darwin.formulae | join " " }}

printf '\n\nInstalling cask apps...\n'
brew list --cask {{ .packages.darwin.casks | join " " }} || brew install --cask {{ .packages.darwin.casks | join " " }}

printf '\n\nRemoving out of date packages...\n'
brew cleanup

# amphetamine
mas install 937984704

# kakaotalk
mas install 869223134

{{- end -}}
