{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# formula hash: {{ .packages.darwin.formulae | join "" | sha256sum }}

brew update && brew upgrade

printf '\nInstalling packages...\n'
brew list --formula {{ .packages.darwin.formulae | join " " }} || brew install {{ .packages.darwin.formulae | join " " }}

printf '\n\nRemoving out of date packages...\n'
brew cleanup
{{- end -}}
