{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

PACKAGES=(
    asdf
    eza
    ranger
    chezmoi
    fzf
    fd
    gh
    glab
    htop
    httpie
    neovim
    nmap
    starship
    im-select
    highlight
    lazygit
    git-number
    atuin
    bat
    git-delta
    duf
    dust
    gping
    walk
    orbstack
    tldr
    awscli
    mas
    ripgrep
    fx
    rectangle
)

CASKS=(
    1password
    1password-cli
    arc
    alt-tab
    raycast
    hammerspoon
    hiddenbar
    karabiner-elements
    obsidian
    notion
    slack
    stats
    visual-studio-code
    warp
    itsycal
    dropbox
    shottr
    httpie
    font-hack-nerd-font
    font-monaspace
    font-rubik
    discord
    iterm2
    gureumkim
)

# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# If Oh-my-zsh is not installed on the system, it will be installed here
# sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew tap homebrew/cask-fonts
brew tap daipeihust/tap
brew update

printf '\nInstalling packages...\n'
brew list --formula ${PACKAGES[@]} || brew install ${PACKAGES[@]}

printf '\n\nInstalling cask apps...\n'
brew list --cask ${CASKS[@]} || brew install --cask ${CASKS[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup

# amphetamine
mas install 937984704

# kakaotalk
mas install 869223134

{{ end -}}
