{{ if eq .mode "work" -}}
[default]
aws_access_key_id = {{ onepasswordRead "op://work/aws access key/access key id" }}
aws_secret_access_key = {{ onepasswordRead "op://work/aws access key/secret access key" }}
{{ end -}}

