Include ~/.orbstack/ssh/config

Host *
IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host worker
HostName {{ onepasswordRead "op://work/worker/url" }}
User {{ onepasswordRead "op://work/worker/username" }}

Host node01
HostName {{ onepasswordRead "op://work/node01/url" }}
User {{ onepasswordRead "op://work/node01/username" }}


# Fig ssh integration. Keep at the bottom of this file.
Match all
  Include ~/.fig/ssh
