Include ~/.orbstack/ssh/config

Host *
IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{ $ids := .managed.host -}}
{{- range $ids -}}
Host {{ (onepassword .).title }}
{{ range (onepassword .).fields -}}
{{  if eq .label "URL" -}}
HostName {{ .value }}
{{  end -}}
{{  if eq .label "username" -}}
User {{ .value }}

{{  end -}}
{{ end -}}
{{ end -}}

# Fig ssh integration. Keep at the bottom of this file.
Match all
  Include ~/.fig/ssh
