#!/bin/bash

# If Oh-my-zsh is not installed on the system, it will be installed here
if [ ! -d $HOME/.oh-my-zsh ]; then
  printf '\n\n\e[33mOh-my-zsh not found. \e[0mInstalling Oh-my-zsh...'
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  printf '\n\n\e[0mOh-my-zsh found. Continuing...'
fi

# If LunarVim is not installed on the system, it will be installed here
if test ! $(which lvim); then
    printf '\n\n\e[33mLunarVim not found. \e[0mInstalling LunarVim...'
    LV_BRANCH='release-1.4/neovim-0.9'
    curl -s https://raw.githubusercontent.com/LunarVim/LunarVim/release-1.4/neovim-0.9/utils/installer/install.sh | zsh
else
  printf '\n\n\e[0mLunarVim found. Continuing...\n'
fi
